@page
@model brand.ist.Pages.tente.bioklimatik_tenteModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Tente Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Bioklimatik Tente</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/rolling-tente1.jpg" alt="Rolling-Roof Tente" /></figure>
                        <div class="post-content">
                            <p>Bioklimatik Tente Nedir?</p>
                            <p>
                                Bioklimatik tenteler, dış mekan alanlarında güneş ışığını, rüzgarı ve sıcaklığı kontrol etmek için özel olarak tasarlanmış yenilikçi bir yapıdır. Alüminyum lamel sistemine sahip olan bu tenteler, lamellerin açılıp kapanmasıyla hava akışını ve güneş ışığını istenen şekilde kontrol etmeyi sağlar. Böylece, açık havada oturma veya çalışma alanlarınızı mevsimlere ve hava koşullarına uygun hale getirebilirsiniz.
                                .Bu tür tenteler, sadece evler için değil, aynı zamanda restoranlar, kafeler, oteller ve diğer ticari alanlar için de idealdir. Hem ticari hem de ev kullanımı için özel olarak tasarlanmış bioklimatik tenteler, üreticiler tarafından kullanıcıların özelliklerine ve ihtiyaçlarına göre özelleştirilebilir.
                            </p>
                            <div class="space10"></div>
                            <p>
                                İmalat Süreci:
                            </p>
                            <p>
                                Firmamız, bioklimatik tentelerin imalatında uzmanlaşmış bir ekip ve ileri teknoloji ekipmanlar kullanmaktadır. İmalat süreci aşağıdaki adımları içerir:

                                Tasarım: Müşteri ihtiyaçlarını dikkate alarak, bioklimatik tentenin ölçüleri, renkleri ve diğer özellikleri belirlenir.
                                Malzeme Seçimi: Yüksek kaliteli alüminyum ve dayanıklı malzemeler kullanılarak tentenin dayanıklılığı ve uzun ömürlülüğü sağlanır.
                                Üretim: CNC tezgahlar ve hassas kesim ekipmanlarıyla, tentenin lamelleri ve diğer bileşenleri imal edilir.
                                Montaj: Deneyimli ekiplerimiz, bioklimatik tentenin doğru ve güvenli bir şekilde montajını gerçekleştirir. Montaj işlemi, özenle yapılarak müşterilerimize en iyi sonucu sağlamak üzere titizlikle tamamlanır.
                                </p>
                            <p>
                                Keşfedin: Şık ve Modern Bioklimatik Tentelerimizle Estetiği Yakalayın!
                            </p>
                            <p>Açık alanlarda hem konforlu bir ortam oluşturmak hem de estetik bir görünüm elde etmek isteyenler için bioklimatik tenteler en ideal seçenektir. Firmamız, yenilikçi tasarım anlayışı ve yüksek kaliteli üretim süreciyle şık ve modern bioklimatik tenteler sunmaktadır.</p>
                            <p>
                                Estetiği Yakalayın:
                            </p>
                            <p>Bioklimatik tentelerimiz, modern ve şık tasarımlarıyla göz kamaştırmaktadır. Her türlü açık alanın estetiğini tamamlamak için geniş renk seçenekleri ve çeşitli tasarım özellikleri sunuyoruz. İhtiyaçlarınıza ve mekanınızın tarzına uygun olarak özelleştirilebilen tentelerimiz, mekanınıza sofistike bir hava katarak benzersiz bir atmosfer yaratır.</p>
                            <p>
                                Konforlu ve Kullanışlı:
                            </p>
                            <p>Bioklimatik tentelerimiz, hava koşullarına göre ayarlanabilen özelliklere sahiptir. Lamellerin açılıp kapanabilmesiyle güneş ışığı ve hava akışını kontrol edebilirsiniz. Sıcak yaz günlerinde serinlik sağlarken, serin havalarda ise güneş ışığını içeri almanıza olanak tanır. Bu sayede her mevsime uygun bir konfor elde edebilirsiniz. Ayrıca, otomatik veya uzaktan kumandalı sistemlerle kolaylıkla kontrol edilebilen tentelerimiz, kullanımı son derece pratik hale getirir.</p>
                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/rolling-tente2.jpg" data-sub-html="#caption1"><img src="/style/brand/img/rolling-tente2.jpg" style="width:675px; height:450px;" alt="motorlu tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/rolling-tente4.jpg" data-sub-html="#caption2"><img src="/style/brand/img/rolling-tente4.jpg" style="width:675px; height:450px;" alt="bioklimatik tente" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/rolling-tente5.jpg" data-sub-html="#caption3"><img src="/style/brand/img/rolling-tente5.jpg" style="width:675px; height:450px;" alt="rolling roof tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/rolling-tente3.jpg" data-sub-html="#caption3"><img src="/style/brand/img/rolling-tente3.jpg" style="width:325px; height:450px;" alt="istanbul tenteci" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/rolling-tente6.jpg" data-sub-html="#caption3"><img src="/style/brand/img/rolling-tente6.jpg" style="width:675px; height:450px;" alt="otomatik tente" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/rolling-tente7.jpg" data-sub-html="#caption3"><img src="/style/brand/img/rolling-tente7.jpg" style="width:675px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/cift-acilir-tente">Çift Açılır Tente</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/karpuz-tente">Karpuz Tente</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/koruklu-tente">Körüklü Tente</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/mafsalli-tente">Mafsallı Tente</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/pergola-tente">Pergola Motorlu Tente</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/sabit-tente">Sabit Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/semsiye">Şemsiye</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/winted-tente">Winted Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/yarasa-tente">Yarasa Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>