@page
@model brand.ist.Pages.tente.koruklu_tenteModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Tente Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Körüklü Tente</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/koruklu-tente1.jpg" alt="Körüklü Tente" /></figure>
                        <div class="post-content">
                            <p>Körüklü tente, tavan ve yanlarında yer alan körüklü mekanizması sayesinde açılıp kapanabilen, açık hava mekanlarında kullanılan bir çadır türüdür. Bu tente çeşidi, genellikle bahçeler, teraslar, restoranlar, kafeler, oteller ve diğer açık hava etkinlikleri için ideal bir seçimdir.<p>
                                Firmamız, karpuz tentenin imalatını özenle yapmakta ve müşterilerimize en kaliteli ürünleri uygun fiyatlarda sunmaktadır. Karpuz tente modellerimiz arasında farklı renklerde ve boyutlarda seçenekler bulunmaktadır. Ayrıca özel tasarımlar da yapılabilmektedir.
                            </p>
                            <div class="space10"></div>
                            <p>Körüklü tenteler, yüksek dayanıklılık sağlamak için kaliteli malzemelerden imal edilir. Genellikle demir veya alüminyum çerçeve, PVC veya polyester kaplama ve ekstra dayanıklı tel örgü malzemeleri kullanılır. Bu malzemeler, körüklü tentenin hem uzun ömürlü hem de suya, rüzgara ve diğer dış etkilere karşı dayanıklı olmasını sağlar.</p>
                            <p>Firmamız, yıllardır körüklü tente üretimi yapmaktadır ve modern, şık tasarımlar sunmaktadır. Ürünlerimizin kalitesi ve işçiliği ile müşterilerimizin beklentilerini karşılamayı amaçlıyoruz. Farklı boyut ve tasarımlarda körüklü tentelerimiz mevcuttur ve müşterilerimizin özel ihtiyaçlarına göre özel tasarımlar da yapabiliyoruz.</p>
                            <p>Körüklü tente fiyatları, ürünün boyutu, malzeme kalitesi ve tasarımı gibi faktörlere bağlı olarak değişkenlik göstermektedir. Ancak, firmamız uygun fiyatlarla kaliteli ürünler sunmaya özen göstermektedir. Web sitemizde yer alan ürünlerimiz ve fiyatları hakkında bizimle iletişimez geçerek daha fazla bilgi edinebilirsiniz.

                            </p>
                            <p>Sonuç olarak, körüklü tente, açık hava etkinlikleri için ideal bir çözümdür ve firmamız, müşterilerine kaliteli, modern ve uygun fiyatlı körüklü tenteler sunmaktadır. Ürünlerimiz hakkında daha fazla bilgi almak ve özel talepleriniz için bizimle iletişime geçmekten çekinmeyin.</p>
                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente2.jpg" data-sub-html="#caption1"><img src="/style/brand/img/koruklu-tente2.jpg" style="width:675px; height:450px;" alt="körüklü tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente3.png" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente3.png" style="width:675px; height:450px;" alt="tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente4.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente4.jpg" style="width:325px; height:450px;" alt="körüklü tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente5.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente5.jpg" style="width:675px; height:450px;" alt="istanbul tenteci" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente9.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente9.jpg" style="width:675px; height:450px;" alt="tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente7.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente7.jpg" style="width:325px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente8.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente8.jpg" style="width:675px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente11.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente11.jpg" style="width:325px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente10.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente10.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente6.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente6.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                             <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente12.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente12.jpg" style="width:325px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                             <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente13.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente13.jpg" style="width:675px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                             <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente14.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente14.jpg" style="width:675px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                             <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente15.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente15.jpg" style="width:325px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                             <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/koruklu-tente16.jpg" data-sub-html="#caption3"><img src="/style/brand/img/koruklu-tente16.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/bioklimatik-tente">Bioklimatik Tente</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/cift-acilir-tente">Çift Açılır Tente</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/karpuz-tente">Karpuz Tente</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/mafsalli-tente">Mafsallı Tente</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/pergola-tente">Pergola Tente</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/sabit-tente">Sabit Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/semsiye">Şemsiye</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/winted-tente">Winted Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/yarasa-tente">Yarasa Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>