@page
@model brand.ist.Pages.tente.mafsalli_tenteModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Tente Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Mafsallı Tente</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/mafsalli-tente1.jpg" alt="Mafsallı Tente" /></figure>
                        <div class="post-content">
                            <p>
                                Mafsallı tenteler, modern bir görünüme sahip, kullanışlı ve dayanıklı bir çözüm sunar. Mafsallı tenteler, genellikle restoran ve kafe gibi açık hava mekanları, balkonlar ve teraslar gibi alanlarda kullanılır. Ayrıca, fuar ve etkinliklerde de bu tente türü sıklıkla tercih edilir. Firmamız, kaliteli ve şık mafsallı tenteleri, uzun yıllardır müşterilerine sunmaktadır.
                            </p>
                            <div class="space10"></div>
                            <p>Mafsallı tentelerin yapımı oldukça özenli bir işçilik gerektirir. Tentenin malzemesi, kalitesi, rengi, boyutu ve diğer özellikleri müşteri ihtiyaçlarına göre özel olarak belirlenir. Tentenin mafsallı mekanizması, kolay açılabilen ve kapalanabilen bir yapıya sahiptir. Ayrıca, açılır kapanır tente olarak da bilinen bu tür tenteler, elle açılıp kapanabilen, elektrikli motorlu ya da uzaktan kumandalı olarak da üretilebilir.</p>
                            <p>Balkon tentesi olarak da kullanılan mafsallı tenteler, hem şık bir görünüm hem de kullanışlı bir çözüm sunar. Balkonunuzun boyutuna uygun olarak özel olarak tasarlanabilen bu tente modelleri, güneş ışınlarından korunmanızı, yağmurdan etkilenmeden dış mekan keyfi yaşamanızı sağlar.</p>
                            <p>Firmamız, mafsallı tentelerin yanı sıra, açılır kapanır tente ve balkon tentesi modelleri de sunmaktadır. Müşterilerimizin ihtiyaçlarına göre farklı renk ve boyutlarda üretilen bu tente modelleri, kaliteli malzemeler ve özenli işçilikle imal edilmektedir. Ayrıca, açılır kapanır tente fiyatları ve balkon tentesi fiyatları konusunda da uygun seçenekler sunuyoruz.</p>
                            <p>Siz de firmamızın kaliteli, şık ve kullanışlı mafsallı tenteleri, açılır kapanır tenteleri ve balkon tentesi modellerini keşfedebilirsiniz. Müşteri memnuniyeti odaklı hizmet anlayışımızla, ihtiyaçlarınıza uygun tente çözümleri sunuyoruz.</p>
                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente1.jpg" data-sub-html="#caption1"><img src="/style/brand/img/mafsalli-tente1.jpg" style="width:675px; height:450px;" alt="mafsallı tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente2.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente2.jpg" style="width:675px; height:450px;" alt="tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente3.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente3.jpg" style="width:325px; height:450px;" alt="tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente4.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente4.jpg" style="width:675px; height:450px;" alt="elle açılır tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente5.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente5.jpg" style="width:333px; height:450px;" alt="istanbul tenteci" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente.jpg" style="width:333px; height:450px;" alt="tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente11.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente11.jpg" style="width:333px; height:450px;" alt="elle açılır tente" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente8.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente8.jpg" style="width:500px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente21.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente21.jpg" style="width:500px; height:450px;" alt="istanbul tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente10.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente10.jpg" style="width:325px; height:450px;" alt="mafsallı tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente7.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente7.jpg" style="width:675px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente13.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente13.jpg" style="width:675px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente12.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente12.jpg" style="width:325px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente14.jpeg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente14.jpeg" style="width:600px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente15.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente15.jpg" style="width:400px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente16.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente16.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente17.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente17.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente18.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente18.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente19.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente19.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente20.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente20.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente9.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente9.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente22.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente22.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/mafsalli-tente23.jpg" data-sub-html="#caption3"><img src="/style/brand/img/mafsalli-tente23.jpg" style="width:800px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/bioklimatik-tente">Bioklimatik Tente</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/cift-acilir-tente">Çift Açılır Tente</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/karpuz-tente">Karpuz Tente</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/koruklu-tente">Körüklü Tente</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/pergola-tente">Pergola Motorlu Tente</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/sabit-tente">Sabit Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/semsiye">Şemsiye</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/winted-tente">Winted Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/yarasa-tente">Yarasa Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>