@page
@model brand.ist.Pages.tente.sabit_tenteModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Tente Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Sabit Tente</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/sabit-tente1.jpg" alt="Sabit Tente" /></figure>
                        <div class="post-content">
                            <p>
                                Sabit tenteler, yapıların üzerine sabitlenerek, dış mekan alanlarını etkili bir şekilde kapatarak güneş ışınlarından, rüzgardan ve yağmurdan korur. Bu tenteler, genellikle restoranlar, oteller, kafe ve barlar, evlerin bahçe ve teras alanları gibi birçok farklı mekanda kullanılmaktadır. Aynı zamanda, ticari alanlarda da marka bilinirliğini artırmak ve dikkat çekici bir görsel etki yaratmak amacıyla kullanılabilmektedir.
                            </p>
                            <p>
                                Sabit tenteler, dış mekanları daha kullanışlı hale getirirken aynı zamanda estetik bir değer de katar. Geniş renk ve desen seçenekleri ile mekanlara özgün bir tarz kazandırılabilir. Müşterilerimize, isteklerine uygun özelleştirme seçenekleri sunarak, beklentilerini karşılamak ve memnuniyetlerini sağlamak bizim için önemlidir.
                            </p>
                            <p>
                                Güneşin zararlı UV ışınlarından korunmak, dış mekanlarda keyifli bir ortam oluşturmak ve estetik bir görünüm sağlamak için kullanılan sabit tenteler, günümüzde çok popüler hale gelmiştir. İmalatını yaptığımız ve profesyonel ekiplerimiz tarafından montajı gerçekleştirilen sabit tenteler, müşterilerimize özelleştirilebilir ve yüksek kaliteli bir çözüm sunmaktadır.
                            </p>
                            <div class="space10"></div>
                            <p>
                                İmalat sürecinde, yüksek kaliteli malzemeler kullanarak dayanıklılık ve uzun ömür sağlamak öncelikli hedefimizdir. Özel olarak seçilen kumaşlar, güneş ışınlarını bloke ederken, hava geçirgenliği sayesinde havalandırmayı sağlar. Ayrıca, su geçirmez özellikleri ile yağmurlu havalarda da kullanıma uygundur. Tentelerimizde kullanılan metal konstrüksiyonlar, sağlamlık ve stabilite için özel olarak tasarlanmıştır ve uzun yıllar boyunca güvenli bir şekilde kullanılabilir.
                            </p>
                            <p>
                                Montaj süreci, deneyimli ekiplerimiz tarafından titizlikle gerçekleştirilir. Profesyonel montaj hizmetimiz, müşterilerimize sorunsuz bir deneyim sunmayı amaçlar. Tentenin yapıya doğru bir şekilde yerleştirilmesi, güvenli bir şekilde sabitlenmesi ve gerektiğinde özel ayarlamaların yapılması gibi detaylar, ekiplerimiz tarafından özenle ele alınır.
                            </p>
                            <p>
                                Sonuç olarak, firmamızın imal ettiği sabit tenteler, yüksek kalite standartlarına uygun olarak üretilen, profesyonel ekiplerimiz tarafından montajı gerçekleştirilen ve müşterilerimize özelleştirilebilir çözümler sunan ürünlerdir. Estetik görünüm, dayanıklılık ve kullanışlılık sağlayarak dış mekanlarda rahat ve keyifli bir ortam oluşturmanıza yardımcı olur.
                            </p>
                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente1.jpg" data-sub-html="#caption1"><img src="/style/brand/img/sabit-tente1.jpg" style="width:500px; height:450px;" alt="sabit tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente2.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente2.jpg" style="width:500px; height:450px;" alt="demonte tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente3.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente3.jpg" style="width:325px; height:450px;" alt="balkon tentesi" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente4.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente4.jpg" style="width:675px; height:450px;" alt="elle açılır tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente5.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente5.jpg" style="width:325px; height:450px;" alt="istanbul tenteci" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente6.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente6.jpg" style="width:675px; height:450px;" alt="tente " /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente10.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente10.jpg" style="width:675px; height:450px;" alt="tenteci" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente8.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente8.jpg" style="width:325px; height:450px;" alt="ucuz tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente9.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente9.jpg" style="width:800px; height:450px;" alt="istanbul tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente7.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente7.jpg" style="width:800px; height:450px;" alt="tente" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente11.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente11.jpg" style="width:325px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente12.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente12.jpg" style="width:675px; height:450px;" alt="türkiye tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente13.jpg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente13.jpg" style="width:600px; height:450px;" alt="tente" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/sabit-tente14.jpeg" data-sub-html="#caption3"><img src="/style/brand/img/sabit-tente14.jpeg" style="width:400px; height:450px;" alt="türkiye pergola tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/bioklimatik-tente">Bioklimatik Tente</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/cift-acilir-tente">Çift Açılır Tente</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/karpuz-tente">Karpuz Tente</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/koruklu-tente">Körüklü Tente</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/mafsalli-tente">Mafsallı Tente</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/pergola-tente">Pergola Motorlu Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/semsiye">Şemsiye</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/winted-tente">Winted Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/yarasa-tente">Yarasa Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>