@page
@model brand.ist.Pages.tente.semsiyeModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Tente Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Şemsiye</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/semsiye1.jpg" alt="Şemsiye" /></figure>
                        <div class="post-content">
                            <p>
                                Kaliteli Şemsiyelerde Geniş Ürün Yelpazesi ve Toplu Satış Fırsatları
                            </p>
                            <p>
                                Şemsiye imalatı ve toplu satışı konusunda uzmanlaşmış firmamız, kullanışlı ve estetik şemsiyeler sunarak müşterilerine çeşitli ihtiyaçlarını karşılama imkanı sağlıyor. 3x3, 4x4 ve 5x5 gibi boyutlarda geniş bir ürün yelpazesine sahip olmamız, farklı mekanlarda ve etkinliklerde ihtiyaç duyulan çözümleri sunma konusunda bize esneklik sağlıyor.
                            </p>
                            <p>
                                Şemsiyelerimizin imalatında dayanıklı malzemeler kullanarak uzun ömürlü kullanım ve güvenlik sağlıyoruz. Kumaş seçimlerimiz, güneşin zararlı UV ışınlarına karşı koruma sağlarken, su geçirmez özellikleri ile yağmurlu havalarda da kullanıma uygundur. Ayrıca, sağlam şemsiye iskeletleri ve destek sistemleri, rüzgarlı havalarda bile istikrarlı bir yapı sunarak güvenliği en üst düzeyde tutar.
                            </p>
                            <div class="space10"></div>
                            <p>
                                Firmamız, toplu satışlar için özel fırsatlar sunarak müşterilerimize avantajlı bir alışveriş deneyimi yaşatmayı hedefler. Şirketler, oteller, restoranlar, kafe ve plajlar gibi ticari işletmeler için büyük miktarda şemsiye ihtiyacı olan müşterilerimize rekabetçi fiyatlarla kaliteli ürünler sunarız. Böylece müşterilerimiz hem bütçelerini korurlar hem de yüksek standartlarda şemsiyelere sahip olurlar.
                            </p>
                            <p>
                                Ayrıca, şemsiyelerimizde özelleştirme seçenekleri sunarak müşterilerimize kendi markalarını yansıtabilme imkanı da sağlıyoruz. Şirket logosu veya istenen tasarımların baskılarıyla kişiye özel şemsiyeler oluşturabiliriz. Bu, marka bilinirliğini artırmak ve dikkat çekici bir görsel etki yaratmak isteyen işletmeler için ideal bir seçenektir.
                            </p>
                            <p>Sonuç olarak, firmamızın şemsiye imalatı ve toplu satışı konusunda uzmanlığı, geniş ürün yelpazesi ve rekabetçi fiyatları ile müşterilerimize kaliteli çözümler sunmayı amaçlar. 3x3, 4x4 ve 5x5 gibi boyutlarda şemsiyelerimizle mekanlarınızı gölgelendirerek konforlu ve estetik bir atmosfer oluşturabilirsiniz.</p>
                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye1.jpg" data-sub-html="#caption1"><img src="/style/brand/img/semsiye1.jpg" style="width:500px; height:450px;" alt="şemsiye fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye2.jpg" data-sub-html="#caption3"><img src="/style/brand/img/semsiye2.jpg" style="width:500px; height:450px;" alt="plaj şemsiyesi fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye3.jpg" data-sub-html="#caption3"><img src="/style/brand/img/semsiye3.jpg" style="width:675px; height:450px;" alt="cafe şemsiyesi" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye4.jpg" data-sub-html="#caption3"><img src="/style/brand/img/semsiye4.jpg" style="width:325px; height:450px;" alt="şemsiye" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye5.jpg" data-sub-html="#caption3"><img src="/style/brand/img/semsiye5.jpg" style="width:325px; height:450px;" alt="istanbul tenteci" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye11.jpg" data-sub-html="#caption3"><img src="/style/brand/img/semsiye11.jpg" style="width:675px; height:450px;" alt="tente " /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye7.jpg" data-sub-html="#caption3"><img src="/style/brand/img/semsiye7.jpg" style="width:800px; height:450px;" alt="tenteci" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye8.png" data-sub-html="#caption3"><img src="/style/brand/img/semsiye8.png" style="width:800px; height:450px;" alt="ucuz tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye9.jpg" data-sub-html="#caption3"><img src="/style/brand/img/semsiye9.jpg" style="width:400px; height:450px;" alt="istanbul tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye10.jpeg" data-sub-html="#caption3"><img src="/style/brand/img/semsiye10.jpeg" style="width:600px; height:450px;" alt="brandacı" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/semsiye6.jpeg" data-sub-html="#caption3"><img src="/style/brand/img/semsiye6.jpeg" style="width:1000px; height:450px;" alt="tente fyatları" /></a>

                                                </div>
                                            </div>
                                           
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/bioklimatik-tente">Bioklimatik Tente</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/cift-acilir-tente">Çift Açılır Tente</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/karpuz-tente">Karpuz Tente</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/koruklu-tente">Körüklü Tente</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/mafsalli-tente">Mafsallı Tente</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/pergola-tente">Pergola Motorlu Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/sabit-tente">Sabit Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/winted-tente">Winted Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/yarasa-tente">Yarasa Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>