@page
@model brand.ist.Pages.tente.yarasa_tenteModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Tente Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Yarasa Tente</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/yarasa-tente1.jpg" alt="Yarasa Tente" /></figure>
                        <div class="post-content">
                            <p>
                                Yarasa Tenteler: Şıklık ve Modernlikle Mekanlarınızı Tamamlayın
                            </p>
                            <p>
                                Firmamız, modern ve şık tasarımlara sahip yarasa tenteleriyle işletmelerin açık hava mekanlarını mükemmel bir şekilde tamamlıyor. İmalatını yaptığımız ve profesyonel ekiplerimiz tarafından montajı gerçekleştirilen yarasa tenteler, mekanınıza sofistike bir görünüm kazandırırken aynı zamanda koruma ve kullanışlılık sağlar.
                            </p>
                            <div class="space10"></div>
                            <p>
                                Yarasa tenteler, benzersiz tasarımlarıyla dikkat çeker. İnce ve zarif hatlara sahip olan bu tenteler, modern mimariyle uyumlu bir şekilde tasarlanır ve mekanınıza şıklık katmanın yanı sıra farklılık da sağlar. Farklı renk seçenekleri ve özelleştirme imkanı sayesinde, yarasa tentelerinizi mekanınıza özgü bir tarzla tasarlayabilirsiniz.
                            </p>
                            <p>
                                Firmamızın profesyonel ekipleri, yarasa tentelerin montajını özenle gerçekleştirir. Tentelerin doğru bir şekilde yerleştirilmesi ve sabitlenmesi, mekanınızın estetik ve güvenliğini sağlar. Montaj sürecinde detaylara özen gösterilir ve müşteri memnuniyeti odaklı bir hizmet sunulur.
                            </p>
                            <p>
                                Yarasa tentelerin sağladığı faydalar da göz ardı edilemez. Güneşin zararlı UV ışınlarından koruma sağlayarak iç mekanınızı sıcak havalarda serin ve konforlu tutar. Ayrıca, hafif yağmur ve rüzgar gibi hava koşullarından da koruma sağlar. İşletmenizin açık hava alanlarını kullanışlı hale getirirken aynı zamanda müşterilerinize keyifli bir ortam sunmanızı sağlar.
                            </p>
                            <p>
                                Yarasa tentelerin satışında da müşteri memnuniyeti odaklı bir yaklaşım benimsiyoruz. Şık ve modern tasarımlara sahip olan tentelerimizi rekabetçi fiyatlarla sunarak işletmenizin bütçesini korumanıza yardımcı oluyoruz. Ayrıca, müşterilerimize uzun ömürlü kullanım ve kaliteli ürünler sunarak yüksek müşteri memnuniyeti sağlıyoruz.
                            </p>
                            <p>Sonuç olarak, firmamızın imal ettiği yarasa tenteler, şıklık, modernlik ve kullanışlılık arayan işletmeler için ideal bir çözümdür. Mekanınıza sofistike bir görünüm katarken, koruma ve konfor sağlar. Profesyonel ekiplerimizle birlikte siz de mekanınızı yarasa tentelerle tamamlayarak müşterilerinizi etkileyebilirsiniz.</p>
                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente1.jpg" data-sub-html="#caption1"><img src="/style/brand/img/yarasa-tente1.jpg" style="width:500px; height:450px;" alt="winted tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente2.jpg" data-sub-html="#caption3"><img src="/style/brand/img/yarasa-tente2.jpg" style="width:500px; height:450px;" alt="winted tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente3.jpg" data-sub-html="#caption3"><img src="/style/brand/img/yarasa-tente3.jpg" style="width:675px; height:450px;" alt="motorlu tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente4.jpg" data-sub-html="#caption3"><img src="/style/brand/img/yarasa-tente4.jpg" style="width:325px; height:450px;" alt="elle açılır tente fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente5.jpg" data-sub-html="#caption3"><img src="/style/brand/img/yarasa-tente5.jpg" style="width:325px; height:450px;" alt="istanbul tenteci" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente8.jpg" data-sub-html="#caption3"><img src="/style/brand/img/yarasa-tente8.jpg" style="width:675px; height:450px;" alt="otomatik tente" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente7.jpg" data-sub-html="#caption3"><img src="/style/brand/img/yarasa-tente7.jpg" style="width:325px; height:450px;" alt="perglola tente" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente9.jpg" data-sub-html="#caption3"><img src="/style/brand/img/yarasa-tente9.jpg" style="width:800px; height:450px;" alt="istanbul tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente10.jpg" data-sub-html="#caption3"><img src="/style/brand/img/yarasa-tente10.jpg" style="width:800px; height:450px;" alt="motorlu tente" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente11.jpg" data-sub-html="#caption3"><img src="/style/brand/img/yarasa-tente11.jpg" style="width:500px; height:450px;" alt="motorlu tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/yarasa-tente12.jpg" data-sub-html="#caption3"><img src="/style/brand/img/yarasa-tente12.jpg" style="width:1000px; height:450px;" alt="türkiye tente fyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/bioklimatik-tente">Bioklimatik Tente</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/cift-acilir-tente">Çift Açılır Tente</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/karpuz-tente">Karpuz Tente</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/koruklu-tente">Körüklü Tente</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/pergola-tente">Pergola Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/mafsalli-tente">Mafsallı Tente</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/sabit-tente">Sabit Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/semsiye">Şemsiye</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/winted-tente">Winted Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>