---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import AnaIcerikSection from "../components/AnaIcerikSection.astro";
import NedenBizSection from "../components/NedenBizSection.astro";
import TavsiyelerimizSection from "../components/TavsiyelerimizSection.astro";
import FaydaliBilgilerSection from "../components/FaydaliBilgilerSection.astro";
---

<Layout
    title="Amir Branda | Tente ve Branda Fiyatları"
    description="Amir Branda İstanbul'da şeffaf branda, mafsallı tente, kış bahçesi ve depo çadırı imalatında uzman! En ucuz branda, çadır ve tente fiyatları için hemen ücretsiz teklif alın."
    ogTitle="Amir Branda | En İyi Tente ve Branda Sistemleri"
    ogImage="https://branda.ist/images/amir-branda-tente-sistemleri-istanbul.jpg"
>
    <!-- /.navbar -->
    <HeroSection />
    <main id="main-content">
        <AnaIcerikSection />
        <NedenBizSection />
        <TavsiyelerimizSection />
        <FaydaliBilgilerSection />
    </main>

    <Fragment slot="extra-scripts"> </Fragment>
</Layout>
