---

---

<div class="rev_slider_wrapper fullscreen-container">
    <div
        id="slider14"
        class="rev_slider fullscreenbanner bg-dark"
        data-version="5.4.8"
    >
        <ul>
            <li
                data-transition="fade"
                data-thumb="style/brand/img/amir-branda-tente-montaj-istanbul.webp"
            >
                <img
                    src="style/brand/img/amir-branda-tente-montaj-istanbul.webp"
                    alt="Amir Branda uzman montaj ekibi tente kurulumunda"
                    width="1920"
                    height="1080"
                    fetchpriority="high"
                />
            </li>
            <li
                data-transition="fade"
                data-thumb="style/brand/img/seffaf-kis-bahcesi-brandasi.webp"
            >
                <img
                    src="style/brand/img/seffaf-kis-bahcesi-brandasi.webp"
                    alt="Kafe ve kış bahçesi için şeffaf branda kaplaması"
                    width="1920"
                    height="1080"
                    fetchpriority="high"
                />
            </li>
            <li
                data-transition="fade"
                data-thumb="style/brand/img/branda-tente-cadir-sistemleri-imalati.webp"
            >
                <img
                    src="style/brand/img/branda-tente-cadir-sistemleri-imalati.webp"
                    alt="Amir Branda kaliteli branda, tente ve çadır sistemleri imalatı"
                    width="1920"
                    height="1080"
                    fetchpriority="high"
                />
            </li>
        </ul>
        <div class="tp-static-layers">
            <h2
                class="tp-caption tp-static-layer font-weight-500 color-white"
                data-x="center"
                data-y="middle"
                data-voffset="['-45','-45','-45','-45']"
                data-width="none"
                data-height="none"
                data-fontsize="['60','60','50','45']"
                data-lineheight="['70','70','60','55']"
                data-type="text"
                data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                data-startslide="0"
                data-endslide="3"
                data-responsive_offset="on"
                style="z-index: 5;"
            >
                Amir Branda ile
            </h2>
            <div
                class="tp-caption tp-static-layer font-weight-500 color-white text-center"
                id="slider-14-layer-2"
                data-x="center"
                data-y="middle"
                data-voffset="['45','45','45','45']"
                data-width="['600','550','550','550']"
                data-whitespace="normal"
                data-height="none"
                data-fontsize="['60','60','50','45']"
                data-lineheight="['70','70','60','55']"
                data-type="text"
                data-typewriter='{"lines":"güneşli%20günlerin%20tadını%20çıkarın,yağmurlu%20günlerden%20korunun, açık%20alanınızı%20renklendirin","enabled":"on","speed":"30","delays":"1%7C100","looped":"on","cursorType":"two","blinking":"on","word_delay":"off","sequenced":"on","hide_cursor":"off","start_delay":"1000","newline_delay":"1000","deletion_speed":"10","deletion_delay":"2500","blinking_speed":"1000","linebreak_delay":"60","cursor_type":"two","background":"off"}'
                data-frames='[{"delay":1500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                data-startslide="0"
                data-endslide="3"
                data-responsive_offset="on"
                style="z-index: 6;"
            >
                açık havanın tadını çıkarın
            </div>
        </div>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
</div>
<!-- /.rev_slider_wrapper -->
