---

---

<section class="wrapper gray-wrapper" aria-labelledby="neden-biz-baslik">
    <div class="container inner">
        <h2 id="neden-biz-baslik" class="section-title text-center">
            Neden Biz?
        </h2>
        <div class="space30"></div>
        <div class="row text-center">
            <div class="col-md-6 col-lg-4">
                <div class="box box-border">
                    <span class="icon icon-color color-default fs-48 mb-20"
                        ><i class="fa-solid fa-magnifying-glass"></i></span
                    >
                    <h5>
                        İhtiyaç<br />
                        Analizi
                    </h5>
                    <p>
                        İşletmenizin veya mekanınızın tente veya branda
                        ihtiyaçlarını doğru bir şekilde analiz ederek, size en
                        uygun çözümleri sunmak için buradayız.
                    </p>
                </div>
                <!--/.box -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-4">
                <div class="box box-border">
                    <span class="icon icon-color color-default fs-48 mb-20">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="48"
                            viewBox="0 96 960 960"
                            fill="#4CA6E5"
                            width="48"
                            ><path
                                d="M166 936v-94h127L187 480q-32-15-50-40.5T119 372q0-47 34.5-81.5T235 256q44 0 73 23.5t39 62.5h146v-59q0-12 9-21t21-9q11 0 18.5 8.5T549 281l75-72q8-8 20.5-10.5T670 202l158 76q9 5 12.5 14t-1.5 19q-5 10-14.5 12t-18.5-3l-155-75-98 99v52l98 103 155-76q10-5 19-2.5t14 12.5q5 10 1.5 20T827 468l-153 72q-14 7-27 6.5T624 536l-75-72q0 14-7.5 21t-18.5 7q-12 0-21-9t-9-21v-60H345q0 12-6.5 24.5T323 447l205 395h158v94H166Zm69-508q24 0 40-16t16-40q0-24-16-40t-40-16q-24 0-40 16t-16 40q0 24 16 40t40 16Zm124 414h102L272 475q-3 2-10 4t-11 3l108 360Zm102 0Z"
                            ></path></svg
                        >
                    </span>
                    <h5>
                        Üretim<br />
                    </h5>
                    <p>
                        İhtiyacınıza göre uygun ve kaliteli malzemeler
                        kullanarak üretim sürecini hızlı bir şekilde
                        gerçekleştiriyoruz.
                    </p>
                </div>
                <!--/.box -->
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-md-6 col-lg-4">
                <div class="box box-border">
                    <span class="icon icon-color color-default fs-48 mb-20">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="48"
                            viewBox="0 96 960 960"
                            fill="#4CA6E5"
                            width="48"
                            ><path
                                d="M764 976q-6 0-11-2t-10-7L501 725q-5-5-7-10t-2-11q0-6 2-11t7-10l85-85q5-5 10-7t11-2q6 0 11 2t10 7l242 242q5 5 7 10t2 11q0 6-2 11t-7 10l-85 85q-5 5-10 7t-11 2Zm0-72 43-43-200-200-43 43 200 200Zm-569 72q-6 0-11.5-2t-10.5-7l-84-84q-5-5-7-10.5T80 861q0-6 2-11t7-10l225-225h85l38-38-175-175h-57L80 277l99-99 125 125v57l175 175 130-130-67-67 56-56H485l-18-18 128-128 18 18v113l56-56 169 169q15 15 23.5 34.5T870 456q0 20-6.5 38.5T845 528l-85-85-56 56-52-52-211 211v84L216 967q-5 5-10 7t-11 2Zm0-72 200-200v-43h-43L152 861l43 43Zm0 0-43-43 22 21 21 22Zm569 0 43-43-43 43Z"
                            ></path></svg
                        >
                    </span>
                    <h5>
                        Montaj<br />
                    </h5>
                    <p>
                        İhtiyaçlarınızın montajını hızlı ve kaliteli bir şekilde
                        gerçekleştiriyoruz. Tecrübeli ve uzman ekibimiz
                        sayesinde, ihtiyaçlarınızı en iyi şekilde karşılayacak
                        çözümler sunuyoruz.
                    </p>
                </div>
                <!--/.box -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
