---

---

<section
    class="wrapper dark-wrapper inverse-text"
    aria-labelledby="tavsiyelerimiz-baslik"
>
    <div class="container inner">
        <h2 id="tavsiyelerimiz-baslik" class="section-title text-center">
            Tavsiyelerimiz
        </h2>
        <p class="lead2 text-center">
            Amir Branda sizin için en iyisini düşünür ve buna göre çalışmalarına
            devam etmektedir.
        </p>
        <div class="space30"></div>
        <div
            class="swiper-container-wrapper image-grid swiper-col3-20"
            data-aos="fade"
        >
            <div class="swiper-container text-center">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <figure class="overlay overlay4">
                            <a href="/pergola-tente"
                                ><img
                                    style="height:570px; width:100%; object-fit: cover;"
                                    width="400"
                                    height="570"
                                    src="style/brand/img/motorlu-bioklimatik-pergola-fiyatlari.webp"
                                    alt="Led ışıklı motorlu alüminyum otomatik pergola"
                                    loading="lazy"
                                    decoding="async"
                                /></a
                            >
                            <figcaption
                                class="d-flex flex-column justify-content-end text-center pb-20"
                            >
                                <div class="align-self-end mx-auto">
                                    <h3 class="mb-1 text-white">
                                        Pergole Tente
                                    </h3>
                                    <p
                                        class="mb-0 text-white op-8"
                                        style="font-size: 14px;"
                                    >
                                        Her mevsim kullanışlı, otomatik altyapı.
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!--/.swiper-slide -->
                    <div class="swiper-slide">
                        <figure class="overlay overlay4">
                            <a href="/seffaf-branda"
                                ><img
                                    style="height:570px; width:100%; object-fit: cover;"
                                    width="400"
                                    height="570"
                                    src="/style/brand/img/bahce.webp"
                                    alt="Kafe ve restoranlar için şeffaf kış bahçesi"
                                    loading="lazy"
                                    decoding="async"
                                /></a
                            >
                            <figcaption
                                class="d-flex flex-column justify-content-end text-center pb-20"
                            >
                                <div class="align-self-end mx-auto">
                                    <h3 class="mb-1 text-white">
                                        Şeffaf Branda
                                    </h3>
                                    <p
                                        class="mb-0 text-white op-8"
                                        style="font-size: 14px;"
                                    >
                                        İşletmeler için izoleli ve net manzara.
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!--/.swiper-slide -->
                    <div class="swiper-slide">
                        <figure class="overlay overlay4">
                            <a href="/depo-cadiri"
                                ><img
                                    style="height:570px; width:100%; object-fit: cover;"
                                    width="400"
                                    height="570"
                                    src="style/brand/img/istanbul-endustriyel-santiye-depo-cadiri.webp"
                                    alt="Geniş hacimli çelik konstrüksiyonlu depo çadırı"
                                    loading="lazy"
                                    decoding="async"
                                /></a
                            >
                            <figcaption
                                class="d-flex flex-column justify-content-end text-center pb-20"
                            >
                                <div class="align-self-end mx-auto">
                                    <h3 class="mb-1 text-white">Depo Çadırı</h3>
                                    <p
                                        class="mb-0 text-white op-8"
                                        style="font-size: 14px;"
                                    >
                                        Fabrikalar için pratik stok depolama.
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!--/.swiper-slide -->
                    <div class="swiper-slide">
                        <figure class="overlay overlay4">
                            <a href="/mafsalli-tente"
                                ><img
                                    style="height:570px; width:100%; object-fit: cover;"
                                    width="400"
                                    height="570"
                                    src="style/brand/img/ucuz-mafsalli-tente-modelleri-istanbul.webp"
                                    alt="Dükkan önü manuel mafsallı tente modeli"
                                    loading="lazy"
                                    decoding="async"
                                /></a
                            >
                            <figcaption
                                class="d-flex flex-column justify-content-end text-center pb-20"
                            >
                                <div class="align-self-end mx-auto">
                                    <h3 class="mb-1 text-white">
                                        Mafsallı Tente
                                    </h3>
                                    <p
                                        class="mb-0 text-white op-8"
                                        style="font-size: 14px;"
                                    >
                                        Dükkan ve balkonlar için klasik model.
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!--/.swiper-slide -->
                    <div class="swiper-slide">
                        <figure class="overlay overlay4">
                            <a href="/bioklimatik-tente"
                                ><img
                                    style="height:570px; width:100%; object-fit: cover;"
                                    width="400"
                                    height="570"
                                    src="style/brand/img/bioklimatik-tente.webp"
                                    alt="Modern motorlu bioklimatik tente uygulaması"
                                    loading="lazy"
                                    decoding="async"
                                /></a
                            >
                            <figcaption
                                class="d-flex flex-column justify-content-end text-center pb-20"
                            >
                                <div class="align-self-end mx-auto">
                                    <h3 class="mb-1 text-white">
                                        Bioklimatik Tente
                                    </h3>
                                    <p
                                        class="mb-0 text-white op-8"
                                        style="font-size: 14px;"
                                    >
                                        Hava kanallı özel led kurgusu.
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!--/.swiper-slide -->
                    <div class="swiper-slide">
                        <figure class="overlay overlay4">
                            <a href="/afet-cadiri"
                                ><img
                                    style="height:570px; width:100%; object-fit: cover;"
                                    width="400"
                                    height="570"
                                    src="style/brand/img/afet-cadiri.webp"
                                    alt="Geniş kapasiteli çadır ve hangar modelleri"
                                    loading="lazy"
                                    decoding="async"
                                /></a
                            >
                            <figcaption
                                class="d-flex flex-column justify-content-end text-center pb-20"
                            >
                                <div class="align-self-end mx-auto">
                                    <h3 class="mb-1 text-white">Afet Çadırı</h3>
                                    <p
                                        class="mb-0 text-white op-8"
                                        style="font-size: 14px;"
                                    >
                                        Tam korumalı geniş hangar alanı.
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!--/.swiper-slide -->
                </div>
                <!-- /.swiper-wrapper -->
            </div>
            <!-- .swiper-container -->
            <div class="swiper-pagination gap-large"></div>
        </div>
        <!-- .swiper-container-wrapper -->
    </div>
    <!-- /.container -->
</section>
