---
// TestimonialSlider.astro
---
<div class="wrapper image-wrapper bg-image inverse-text" style="background-image: url('/style/brand/img/kategori-arkasi-pp.webp');">
    <div class="container inner pt-120 pb-120">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="swiper-container-wrapper basic-slider">
                    <div class="swiper-container text-center">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <blockquote class="icon icon-top larger">
                                    <p>İster bahçede, ister terasta, isterseniz de iş yerinizde kullanın, brandalarımızla her yerde keyifle vakit geçirin.</p>
                                    <footer class="blockquote-footer">Amir Branda</footer>
                                </blockquote>
                            </div>
                            <!-- /.swiper-slide -->
                            <div class="swiper-slide">
                                <blockquote class="icon icon-top larger">
                                    <p>En zorlu hava koşullarına dayanıklı, özel tasarımlı brandalarla tanışın, keyfiniz ikiye katlansın.</p>
                                    <footer class="blockquote-footer">Amir Branda</footer>
                                </blockquote>
                            </div>
                            <!-- /.swiper-slide -->
                            <div class="swiper-slide">
                                <blockquote class="icon icon-top larger">
                                    <p>Güneşin sıcaklığından ve yağmurun damlalarından korunun, hayatınızın keyfini çıkarın!</p>
                                    <footer class="blockquote-footer">Amir Branda</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination gap-large"></div>
</div>
