<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="text" content="">
    <meta name="author" content="">
    <meta name="description" content="@ViewData["MetaDescription"]">
    <link rel="canonical" href="https://brand.ist@(Context.Request.Path)" />
    <link rel="shortcut icon" href="~/style/images/favicon.png">
    <title>@(ViewData["Title"] == null ? "Branda Tente Çadır Sistemleri" : ViewData["Title"] + " | Branda Tente Çadır Sistemleri")</title>
    <link rel="stylesheet" type="text/css" href="~/style/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/style/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/style/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/style/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/style/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
    <link rel="stylesheet" type="text/css" href="~/style/revolution/revolution-addons/typewriter/css/typewriter.css">
    <link rel="stylesheet" type="text/css" href="~/style/type/icons.css">
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <link rel="stylesheet" type="text/css" href="~/style/css/color/sky.css">
    <link rel="stylesheet" type="text/css" href="~/style/css/font/font2.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
       .whats-app {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    left: 15px;
    z-index: 100;
    padding-top:5px;
    font-size:40px;
}

.my-float {
    margin-top: 10px;
}
    </style>
</head>
<body>
    <div class="content-wrapper">
        <nav class="navbar transparent absolute nav-wrapper-dark inverse-text navbar-expand-xl center justify-content-between">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand d-lg-none d-xl-none"><a href="index.html"><img src="#" srcset="/style/brand/img/branda_logo.png 1x, /style/brand/img/branda_logo.png 2x" alt="" /></a></div>
                    <div class="navbar-hamburger ml-auto d-lg-none d-xl-none"><button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button></div>
                </div>
                <!-- /.navbar-header -->
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav-wrapper">
                        <ul class="nav navbar-nav mr-auto" style="justify-content:center;">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Ana Sayfa</a>


                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#">Branda</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/araba-dolu-brandasi">Araba Dolu Brandası</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/beton-yorgani">Beton Yorganı</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/cami-kapisi">Cami Kapısı</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/ceset-torbasi">Ceset Torbası</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/fabrika-bolmeleri-kapilari">Fabrika Bölmeleri  & Kapıları</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/golgelik-jut-branda">Gölgelik Jut Branda</a></li>

                                    <li class="nav-item"><a class="dropdown-item" href="/branda/havuz-brandasi">Havuz Brandası</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/kamyon-kamyonet-brandasi">Kamyon-Kamyonet Brandası</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/otopark-brandasi">Otopark Brandası</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/seffaf-branda">Şeffaf Branda</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/tekne-brandasi">Tekne Brandası</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/branda/tekstil-torbasi">Tekstil Torbası</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#">Çadır</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="/cadir/afet-deprem-cadiri">Afet-Deprem Çadırı</a>
                                        <a class="dropdown-item dropdown-toggle" href="/cadir/askeri-cadir">Askeri Çadır</a>
                                        <a class="dropdown-item dropdown-toggle" href="/cadir/depo-hangar-cadiri">Depo-Hangar Çadırı</a>
                                        <a class="dropdown-item dropdown-toggle" href="/cadir/endustriyel-cadir">Endüstriyel Çadır</a>
                                        <a class="dropdown-item dropdown-toggle" href="/cadir/etkinlik-fuar-cadiri">Etkinlik-Fuar Çadırı</a>
                                        <a class="dropdown-item dropdown-toggle" href="/cadir/halisaha-spor-cadiri">Halısaha-Spor Çadırı</a>
                                        <a class="dropdown-item dropdown-toggle" href="/cadir/iftar-cadiri">İftar Çadırı</a>
                                        <a class="dropdown-item dropdown-toggle" href="/cadir/kurban-hayvan-cadiri">Kurban-Hayvan Çadırı</a>
                                        <a class="dropdown-item dropdown-toggle" href="/cadir/taziye-cadiri">Taziye Çadırı</a>

                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#">Tente</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li class="nav-item"><a class="dropdown-item" href="/tente/bioklimatik-tente">Bioklimatik Tente</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/tente/cift-acilir-tente">Çift Açılır Tente</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/tente/karpuz-tente">Karpuz Tente</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/tente/koruklu-tente">Körüklü Tente</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="mafsalli-tente">Mafsallı Tente</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/tente/pergola-tente">Pergola Motorlu Tente</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/tente/sabit-tente">Sabit Tente</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/tente/semsiye">Şemsiye</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/tente/winted-tente">Winted Tente</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/tente/yarasa-tente">Yarasa Tente</a></li>


                                </ul>
                            </li>
                           
                        </ul>
                        <!-- /.navbar-nav -->
                    </div>
                    <!-- /.navbar-nav-wrapper -->
                    <div class="navbar-brand d-none d-lg-block"><a href="/"><img style="width:80px;" src="/style/brand/img/branda_logo.png"/></a></div>
                    <div class="navbar-nav-wrapper">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#">Kumaş Türleri</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li class="nav-item"><a class="dropdown-item" href="/kumas-turleri/akrilik">Akrilik</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/kumas-turleri/blackout">Blackout</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/kumas-turleri/mika">Mika</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/kumas-turleri/polyester">Polyester</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/kumas-turleri/su-gecirmez-pilsa">Su Geçirmez Pilsa</a></li>
                                    <li class="nav-item"><a class="dropdown-item" href="/kumas-turleri/semsiye-kumasi">Şemsiye Kumaşı</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/giyotin-cam">Giyotin Cam</a>


                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/hakkimizda">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/iletisim">İletişim</a>

                            </li>
                        </ul>
                        <!-- /.navbar-nav -->
                    </div>
                    <!-- /.navbar-nav-wrapper -->
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->
        @RenderBody()
        <footer class="dark-wrapper inverse-text">
            <div class="container inner pt-60 pb-30 text-center">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="widget">
                                    <h3 class="widget-title">Konum</h3>
                                    <address class="mb-0">
                                        Hacı Kadın Mahallesi Atlamataşı Caddesi İmç 5.Blok No:5335 Fatih/İSTANBUL
                                    </address>
                                </div>
                                <!-- /.widget -->
                            </div>
                            <!-- /column -->
                            <div class="col-md-4">
                                <div class="widget">
                                    <h3 class="widget-title">BİZİ TAKİP EDİN</h3>
                                    <ul class="social social-mute social-s">
                                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /.widget -->
                            </div>
                            <!-- /column -->
                            <div class="col-md-4">
                                <div class="widget">
                                    <h3 class="widget-title">İLETİŞİM</h3>
                                    <a href="mailto:tente.ist@gmail.com" class="nocolor">tente.ist@gmail.com</a> <br />
                                    0 212 533 08 91<br/>0 538 604 48 51
                                </div>
                                <!-- /.widget -->
                            </div>
                            <!-- /column -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
                <a class="whats-app" href="https://wa.me/+905386044851" target="_blank">
                    <i class="fab fa-whatsapp my-float"></i>
                </a>
                <div class="space40"></div>
                <p class="text-center">by ömer¿ © 2023 Serin Branda</p>
            </div>
            <!-- /.container -->

        </footer>
    </div>
    <!-- /.content-wrapper -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>

    <script src="~/style/js/popper.min.js"></script>
    <script src="~/style/js/bootstrap.min.js"></script>
    <script src="~/style/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/style/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script>
    <script src="~/style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script>
    <script src="~/style/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/style/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/style/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/style/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/style/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/style/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/style/js/plugins.js"></script>
    <script src="~/style/js/scripts.js"></script>
    <script language="Javascript" type="text/javascript" src="~/style/js/mail.js"></script>
</body>
</html>