---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Giyotin Cam Sistemleri" description="Giyotin cam sistemleri ile restoran, kafe, ev ve balkonlarınıza şıklık katın, her mevsim açık havanın keyfini çıkarın. En uygun fiyatlar Serin Branda'da.">
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Giyotin Cam Sistemleri</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Giyotin Cam Sistemleri</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/cam1.jpg" style="width:100%" alt="" /></figure>
                        <div class="post-content">
                            <p>
                                Giyotin camlar son yıllarda popüler bir seçenek haline geldi ve çeşitli kullanım alanları için ideal bir seçim olabilir. Bu camların en büyük avantajlarından biri, açılıp kapanabilme özelliğine sahip olmalarıdır. Bu, kullanıcıların ihtiyaçlarına göre camları tamamen açık ya da kapalı konumda kullanabilmesine olanak tanır. Ayrıca, giyotin camların malzemeleri de oldukça dayanıklıdır ve dış hava koşullarına karşı koruma sağlar.
                            </p>
                            <p>
                                Giyotin camlar, işletmelerde, restoranlarda, kafelerde, balkonlarda ve evlerde kullanılmaktadır. İşletmelerde kullanıldığında, camlar reklam alanı olarak da kullanılabilir. Aynı zamanda, işletmelerin müşterilerine açık alanlar sunmalarına ve bu alanları yılın herhangi bir zamanında kullanmalarına olanak tanır. Restoranlar ve kafeler için, giyotin camlar açık alanlarda yemek yeme deneyimini iyileştirebilir ve müşterilere rahat bir atmosfer sağlayabilir.
                            </p>
                            <div class="space10"></div>
                            <p>
                                Balkonlarda ve evlerde kullanıldığında, giyotin camlar, rüzgarlı ve yağmurlu günlerde açık alanlardan yararlanma olanağı sağlar. Aynı zamanda, camlar evin içindeki ışık miktarını artırabilir ve odalara daha fazla doğal ışık girmesine izin verebilir.
                            </p>
                            <p>
                                Firmamız, yüksek kaliteli giyotin camlar üretmektedir ve bu camlar pergole tente ve motorlu tente modelleri ile birleştirilebilir. Bu kombinasyon, hem estetik hem de işlevsellik açısından son derece çekici bir seçenek sunar. Bu kombinasyon sayesinde pergole tente fiyatlarımızda veya motorlu tente fiyatlarımızda da indirim kazanabilir daha avantajlı fiyatlarla pergole tente fiyatınızı ya da motorlu tente modellerinden seçtiğiniz bir motorlu tente fiyatını indirimli bir şekilde yararlanıp sizde bu şık ve modern sistemlerimize sahip olabilirsiniz.
                            </p>
                            <p>
                                Siz de firmamızın giyotin camlarından yararlanarak açık alanlarınızı daha işlevsel ve estetik bir hale getirebilirsiniz. Detaylı bilgi ve fiyatlar için bizimle iletişime geçebilirsiniz.
                            </p>

                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/cam1.jpg" data-sub-html="#caption1"><img src="/style/brand/img/cam1.jpg" style="width:675px; height:450px;" alt="giyotin cam sistemleri" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/cam2.jpg" data-sub-html="#caption2"><img src="/style/brand/img/cam2.jpg" style="width:675px; height:450px;" alt="balkon cam fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/cam3.jpg" data-sub-html="#caption4"><img src="/style/brand/img/cam3.jpg" style="width:650px; height:450px;" alt="tente ve cam fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/cam4.jpg" data-sub-html="#caption4"><img src="/style/brand/img/cam4.jpg" style="width:650px; height:450px;" alt="tente ve cam fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/bioklimatik-tente">Bioklimatik Tente</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/cift-acilir-tente">Çift Açılır Tente</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/depo-hangar-cadiri">Depo-Hangar Çadırı</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/etkinlik-fuar-cadiri">Etkinlik Fuar Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/pergola-tente">Pergola Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/mafsalli-tente">Mafsallı Tente</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/sabit-tente">Sabit Tente</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/semsiye">Şemsiye</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/winted-tente">Winted Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>
</Layout>
