---
import TestimonialSlider from "../components/TestimonialSlider.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import AnaIcerikSection from "../components/AnaIcerikSection.astro";
import NedenBizSection from "../components/NedenBizSection.astro";
import TavsiyelerimizSection from "../components/TavsiyelerimizSection.astro";
import FaydaliBilgilerSection from "../components/FaydaliBilgilerSection.astro";
---

<Layout
    title="Amir Branda | Tente ve Branda Fiyatları"
    description="Amir Branda İstanbul'da şeffaf branda, mafsallı tente, kış bahçesi ve depo çadırı imalatında uzman! En ucuz branda, çadır ve tente fiyatları için hemen ücretsiz teklif alın."
    ogTitle="Amir Branda | En İyi Tente ve Branda Sistemleri"
    ogImage="https://branda.ist/images/amir-branda-tente-sistemleri-istanbul.jpg"
>
    <script type="application/ld+json" is:inline>
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "Amir Branda",
            "image": "https://branda.ist/style/brand/img/branda-logo.webp",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Ayvansaray Mahallesi Esnaf Loncası Sokak No:27",
                "addressLocality": "Fatih",
                "addressRegion": "İstanbul",
                "addressCountry": "TR"
            },
            "telephone": "+90 538 604 48 51",
            "url": "https://branda.ist",
            "priceRange": "₺₺",
            "openingHours": "Mo-Sa 09:00-19:00",
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": "41.0384",
                "longitude": "28.9431"
            },
            "sameAs": [
                "https://www.facebook.com/amirbrandacadirtente/",
                "https://www.instagram.com/branda.ist/",
                "https://x.com/amirbrandaist",
                "https://tr.pinterest.com/amirbranda/"
            ]
        }
    </script>
    <!-- /.navbar -->
    <HeroSection />
    <main id="main-content">
        <AnaIcerikSection />
        <NedenBizSection />
        <TavsiyelerimizSection />
        <FaydaliBilgilerSection />

        <TestimonialSlider />
    </main>

    <Fragment slot="extra-scripts">
        <script
            is:inline
            defer
            src="/style/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script
            is:inline
            defer
            src="/style/revolution/js/jquery.themepunch.revolution.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/js/extensions/revolution.extension.actions.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/js/extensions/revolution.extension.carousel.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/js/extensions/revolution.extension.kenburn.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/js/extensions/revolution.extension.layeranimation.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/js/extensions/revolution.extension.migration.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/js/extensions/revolution.extension.navigation.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/js/extensions/revolution.extension.parallax.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/js/extensions/revolution.extension.slideanims.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/js/extensions/revolution.extension.video.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"
        ></script>
        <script
            is:inline
            defer
            src="/style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"
        ></script>
    </Fragment>
</Layout>
