@page
@model brand.ist.Pages.cadir.endustriyel_cadirModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Çadır Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Endüstriyel Çadır</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/endustriyel1.jpg" alt="depo çadırı" /></figure>
                        <div class="post-content">
<p>Endüstriyel çadırlar, birçok endüstriyel uygulama için gerekli olan geçici veya kalıcı kapalı mekanlar sağlayan çok amaçlı yapılardır. İhtiyaçlarınıza özel tasarlanabilen endüstriyel çadırlar, depolama, üretim, bakım onarım gibi amaçlarla kullanılabilir. Bu alanlarda koruma sağlayan endüstriyel çadırlarımız, işletmenizin ihtiyaçlarına göre özelleştirilebilir.</p>
<p>Firmamız, endüstriyel çadırların tasarımı ve imalatı konusunda 20 yıldan fazla bir süredir deneyimlidir. Hem yurtiçi hem de yurtdışı müşterilerimize kaliteli, uygun fiyatlı ve ihtiyaçlarına özel tasarlanabilen endüstriyel çözümler sunuyoruz. Kendi imalatımız olan endüstriyel çadırlarımız, müşterilerimize yüksek kalite, güvenilirlik ve dayanıklılık sağlar.</p>
                            <div class="space10"></div>
<p>Firmamızın sunduğu endüstriyel çadırlar, inşaat, madencilik, otomotiv, tarım ve hizmet sektörü gibi birçok alanda kullanılabilir. Çadırlarımız, işletmenizin ihtiyaçlarına uygun şekilde özelleştirilebilir. İstenilen boyut, renk ve tasarımda imal edilebilir. Ayrıca, endüstriyel çadırlarımız, hava koşullarına dayanıklı malzemelerden yapılmıştır ve uzun ömürlüdür.</p>
                            <p>Müşterilerimizin ihtiyaçlarına göre özelleştirilen endüstriyel çadırlarımız, kolay kurulum ve taşıma imkanı sağlar. Hızlı montajı sayesinde, çadırlarımız, zamanınızı ve işletmenizin bütçesini tasarruf eder.</p>
                            <p>Firmamızın endüstriyel çadırları, sektör lideri ürün kalitesi, uygun fiyatlar ve müşteri memnuniyeti odaklı hizmet anlayışı ile öne çıkmaktadır. Siz de işletmeniz için özelleştirilmiş bir endüstriyel çadır çözümü arıyorsanız, bizimle iletişime geçin. Müşterilerimize en kaliteli hizmeti sunmak için buradayız.</p>

                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="rev_slider_wrapper rev_th_auto">
                                        <div id="slider6" class="rev_slider bg-dark" data-version="5.4.8">
                                            <ul>

                                                <li data-transition="fade" data-thumb="/style/brand/img/endustriyel1.jpg"><img src="/style/brand/img/endustriyel1.jpg" alt="endüstriyel çadır fiyatları" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/endustriyel2.jpg"><img src="/style/brand/img/endustriyel2.jpg" alt="büyük çadır yapan firmalar" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/endustriyel3.jfif"><img src="/style/brand/img/endustriyel3.jfif" alt="endüstriyel çadır" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/endustriyel4.jpg"><img src="/style/brand/img/endustriyel4.jpg" alt="çadırcı" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/endustriyel5.jpg"><img src="/style/brand/img/endustriyel5.jpg" alt="çadır fiyatları" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/endustriyel6.jpg"><img src="/style/brand/img/endustriyel6.jpg" alt="ucuz çadırcı" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/endustriyel7.jpeg"><img src="/style/brand/img/endustriyel7.jpeg" alt="kaliiteli çadırcı" /></li>
                                            </ul>
                                        </div>
                                        <!-- /.rev_slider -->
                                    </div>
                                    <!-- /.rev_slider_wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/afet-deprem-cadiri">Afet Deprem Çadırı</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/depo-hangar-cadiri">Depo-Hangar Çadırı</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/askeri-cadir">Askeri Çadır</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/etkinlik-fuar-cadiri">Etkinlik Fuar Çadırı</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/halisaha-spor-cadiri">Halısaha - Spor Çadırı</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/iftar-cadiri">İftar Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/kurban-hayvan-cadiri">Kurban Hayvan Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/taziye-cadiri">Taziye Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>