@page
@model brand.ist.Pages.cadir.etkinlik_fuar_cadiriModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Çadır Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Etkinlik Fuar Çadırı</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/fuar.jpg" alt="etkinlik çadırı" /></figure>
                        <div class="post-content">
                            <p>Firma olarak, kaliteli, uygun fiyatlı ve müşteri ihtiyaçlarına özel tasarım imkanı sunan etkinlik fuar çadırları üretiyoruz. Uzun yıllardır sektörde bulunmamızın bize kazandırdığı tecrübe ve deneyimlerle, her zaman müşterilerimize en iyi hizmeti sunmaktan gurur duyuyoruz.</p>
                            <p>Fuar ve etkinlikler için ihtiyacınız olan her türlü çadırı üretebiliyoruz. Geleneksel beyaz renkli çadırların yanı sıra, farklı renklerde ve ölçülerde de tasarlayabiliriz. İhtiyaçlarınıza göre özel şekillerde üretim yapabilme kabiliyetimiz sayesinde, size özel tasarımlar da sunuyoruz.</p>
                            <div class="space10"></div>
                            <p>Ürünlerimiz yüksek kaliteli malzemelerden üretilir ve uzun ömürlüdür. Bu sayede, etkinliklerinizde tekrar tekrar kullanabilirsiniz. Ayrıca, hava koşullarına dayanıklı malzemeler kullanarak, güneş ışınlarından ya da yağmurdan etkilenmeden etkinliğinizi sorunsuz bir şekilde sürdürebilirsiniz.</p>
                            <p>Firmamızda bulunan profesyonel tasarım ekibi, sizin ihtiyaçlarınız doğrultusunda çadırın tasarımını yaparak, size en uygun çözümleri sunar. Müşterilerimizin memnuniyeti her zaman önceliğimizdir ve sizin ihtiyaçlarınız doğrultusunda en iyi çözümü üretmek için elimizden gelenin en iyisini yapıyoruz.</p>
                            <p>Siz de etkinlik ve fuarlarınız için kaliteli, uygun fiyatlı ve özel tasarım imkanı sunan çadırlarımızı tercih ederek, işinizi en iyi şekilde yapmanın keyfini çıkarabilirsiniz. Bizimle iletişime geçerek daha fazla bilgi alabilir ve ihtiyaçlarınıza özel çözümlerimizi öğrenebilirsiniz.</p>

                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="rev_slider_wrapper rev_th_auto">
                                        <div id="slider6" class="rev_slider bg-dark" data-version="5.4.8">
                                            <ul>

                                                <li data-transition="fade" data-thumb="/style/brand/img/fuar.jpg"><img src="/style/brand/img/fuar.jpg" alt="etkinlik çadırı fiyatları" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/fuar1.jpg"><img src="/style/brand/img/fuar1.jpg" alt="fuar çadırı fiyatları" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/fuar2.jpg"><img src="/style/brand/img/fuar2.jpg" alt="etkinlik-fuar çadırları" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/fuar3.jpg"><img src="/style/brand/img/fuar3.jpg" alt="çadır" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/fuar4.jpg"><img src="/style/brand/img/fuar4.jpg" alt="çadırcı" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/fuar5.jpg"><img src="/style/brand/img/fuar5.jpg" alt="etkinlik fuar çadır fiyatları" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/fuar6.jpg"><img src="/style/brand/img/fuar6.jpg" alt="ucuz çadır fiyatları" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/fuar7.jpg"><img src="/style/brand/img/fuar7.jpg" alt="modern çadır" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/fuar8.jpg"><img src="/style/brand/img/fuar8.jpg" alt="serin branda çadır tente cam sistemleri" /></li>
                                            </ul>
                                        </div>
                                        <!-- /.rev_slider -->
                                    </div>
                                    <!-- /.rev_slider_wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/afet-deprem-cadiri">Afet Deprem Çadırı</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/depo-hangar-cadiri">Depo-Hangar Çadırı</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/askeri-cadir">Askeri Çadır</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/endüstriyel-cadir">Endüstriyel Çadırlar</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/halisaha-spor-cadiri">Halısaha - Spor Çadırı</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/iftar-cadiri">İftar Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/kurban-hayvan-cadiri">Kurban Hayvan Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/taziye-cadiri">Taziye Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>