@page
@model brand.ist.Pages.cadir.taziye_cadiriModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Çadır Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Taziye Çadırı</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/taziye1.jpg" alt="taziye çadırı" /></figure>
                        <div class="post-content">
                            <p>
                                Taziye çadırları, hayatın en zorlu anlarında insanların bir araya gelerek acılarını paylaşmalarına yardımcı olur. Biz de yıllardır taziye çadırları imal ederek bu zorlu anlarda insanların yanında olmaya çalışıyoruz.
                            </p>
                            <p>
                                Firmamızın taziye çadırları, kaliteli malzemeler kullanılarak imal edilir ve uzun yıllar boyunca kullanıma uygun şekilde tasarlanır. Ayrıca istenilen ölçü ve renkte taziye çadırları da imal edebiliriz.
                            </p>
                            <div class="space10"></div>
                            <p>
                                Taziye çadırlarımızın montajı da oldukça kolaydır ve deneyimli ekibimiz tarafından yapılır. Acılarla dolu bu zorlu süreçte, müşterilerimizin en azından taziye çadırları konusunda bir endişesi olmadan kendi işlerine odaklanmalarını sağlamaya çalışıyoruz.
                            </p>
                            <p>
                                Taziye çadırları sadece bir yapı değil, insanların acılarına paylaşmak için bir araya gelmesini sağlayan bir mekandır. Bu sebeple, firmamız olarak müşterilerimize en iyi hizmeti sunmak ve onların acılarına ortak olmak bizim önceliğimizdir.
                            </p>

                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="rev_slider_wrapper rev_th_auto">
                                        <div id="slider6" class="rev_slider bg-dark" data-version="5.4.8">
                                            <ul>

                                                <li data-transition="fade" data-thumb="/style/brand/img/taziye1.jpg"><img src="/style/brand/img/taziye1.jpg" alt="taziye çadırı fiyatları" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/taziye2.jpg"><img src="/style/brand/img/taziye2.jpg" alt="taziye çadırları" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/taziye3.jpg"><img src="/style/brand/img/taziye3.jpg" alt="taziye çadırı" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/taziye4.jpg"><img src="/style/brand/img/taziye4.jpg" alt="çadır" /></li>
                                                <li data-transition="fade" data-thumb="/style/brand/img/taziye5.jfif"><img src="/style/brand/img/taziye5.jfif" alt="çadırcı" /></li>

                                            </ul>
                                        </div>
                                        <!-- /.rev_slider -->
                                    </div>
                                    <!-- /.rev_slider_wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/afet-deprem-cadiri">Afet Deprem Çadırı</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/depo-hangar-cadiri">Depo-Hangar Çadırı</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/askeri-cadir">Askeri Çadır</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/endüstriyel-cadir">Endüstriyel Çadırlar</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/etkinlik-fuar-cadiri">Etkinlik Fuar Çadırı</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/halisaha-spor-cadiri">Halı Saha Spor Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/iftar-cadiri">İftar Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/kurban-hayvan-cadiri">Kurban Hayvan Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>