@page
@model brand.ist.Pages.kumas_turleri.su_gecirmez_pilsaModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Kumaş Türleri</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Su Geçirmez Pilsa</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/pilsa1.png" alt="Pilsa" /></figure>
                        <div class="post-content">
                            <p>
                                Pilsa PE branda, yüksek yoğunluklu polietilen (PE) kumaştan imal edilen, dayanıklı ve uzun ömürlü bir branda türüdür. Bu branda, içinde bulunduğu sektöre göre farklı kalınlıklarda üretilebilir. Pilsa PE brandaları, %100 su geçirmezdir ve UV ışınlarına karşı dayanıklıdır.
                            </p>
                            <p>
                                Pilsa PE brandalar, genellikle endüstriyel amaçlar için kullanılırlar. İnşaat sektöründe, yapıların korunması, malzemelerin güneş ve yağmur gibi hava şartlarından etkilenmemesi için tercih edilirler. Ayrıca, çadır üretiminde, havuz örtüsü yapımında, römork ve kamyon tentesi yapımında da kullanılırlar.
                            </p>
                            <div class="space10"></div>
                            <p>
                                Firmamız uzun yıllardır Pilsa PE branda üretiminde faaliyet göstermektedir. Kaliteli hammaddeler kullanarak, modern teknolojileri takip ederek üretim yapmaktayız. Müşteri memnuniyeti bizim önceliğimizdir ve en uygun fiyatlarla ürünlerimizi müşterilerimize sunmaktayız.
                            </p>
                            <p>Pilsa PE branda fiyatları, brandanın kalınlığına, boyutuna ve diğer özelliklerine göre değişebilir. Firmamız, farklı kalınlık ve boyutlarda Pilsa PE brandaları stoklarında bulundurmakta ve ihtiyaçlarınıza özel ürünler üretmektedir. Siz de işletmeniz veya projeniz için uygun Pilsa PE branda çözümleri için bizimle iletişime geçebilirsiniz.</p>
                            <p>
                                Su Geçirmezlik: Polyester kumaş, suya dayanıklıdır ve nemli koşullarda kullanıma uygundur.
                            </p>
                            <p>PE Branda Fiyatları</p>
                            <p>180gr PE Branda m2 fiyatı 20TL+KDV'dir.</p>
                            <p>200gr PE Branda m2 fiyatı 22TL+KDV'dir.</p>
                            <p>220gr PE Branda m2 fiyatı 24TL+KDV'dir.</p>
                            <p>240gr PE Branda m2 fiyatı 26TL+KDV'dir.</p>
                            <p>250gr PE Branda m2 fiyatı 28TL+KDV'dir.</p>
                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/pilsa1.png" data-sub-html="#caption1"><img src="/style/brand/img/pilsa1.png" style="width:500px; height:450px;" alt="pe su geçirmez pilsa ucuz branda fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/pilsa2.jpeg" data-sub-html="#caption1"><img src="/style/brand/img/pilsa2.jpeg" style="width:500px; height:450px;" alt="pe su geçirmez pilsa ucuz branda fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/bioklimatik-tente">Bioklimatik Tente</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/cift-acilir-tente">Çift Açılır Tente</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/depo-hangar-cadiri">Depo-Hangar Çadırı</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/cadir/etkinlik-fuar-cadiri">Etkinlik Fuar Çadırı</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/pergola-tente">Pergola Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/mafsalli-tente">Mafsallı Tente</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/sabit-tente">Sabit Tente</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/semsiye">Şemsiye</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/tente/winted-tente">Winted Tente</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>