@page
@model brand.ist.Pages.branda.araba_dolu_brandasiModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Branda Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Araba Dolu Brandası</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/araba-dolu-brandasi2.jpg" alt="" /></figure>
                        <div class="post-content">
                            <p>Dış araç kılıflarımız, otomobillerinizi dış etkenlerden korumak için mükemmel bir çözümdür. Bu kılıflar, yağmur, kar, güneş ışınları, kuş pisliği, ağaç döküntüleri, toz, kir ve daha birçok şey gibi dış etkenlerden aracınızı korur. Ayrıca, aracınızı kapalı bir alanda tutmanız mümkün değilse, dışarıda park edilirken aracınızın görünümünü korumak için de faydalıdırlar.</p>
                            <p>Dış araç kılıflarımızın birçok farklı çeşidi vardır. İşte bazı popüler özellikleri:</p>
                            <div class="space10"></div>
                            <p>Su geçirmez: Bu kılıflar, yağmur ve kar gibi dış etkenlerin aracınızın yüzeyine nüfuz etmesini engelleyen su geçirmez bir kaplama ile kaplıdır.</p>
                            <p>Güneş ışınlarına dayanıklı: Bazı kılıflar, aracınızın boyasını güneş ışınlarının neden olduğu solma ve çatlama gibi hasarlardan korumak için özel olarak tasarlanmıştır.</p>
                            <p>Nefes alabilen kumaş: Dış araç kılıfları, aracınızın yüzeyine nefes alabilen bir kumaş kaplama sağlayarak nemin birikmesini önler ve küf ve küflenmeye karşı korur.</p>
                            <p>Özel tasarım: Aracınızın marka ve modeline özel tasarlanmış kılıflar, aracınızın tam olarak uyumlu olmasını sağlar ve herhangi bir özel kesim veya değişiklik gerektirmez.</p>
                            <p>Uygun fiyatlı: Dış araç kılıflarımız, aracınızın dış etkenlerden korunması için oldukça uygun fiyatlı bir seçenek olabilir. İstediğiniz kalitede malzemelerden yapılacak olan  kılıflarımız her bütçeye uygun bir şekilde hazırlanır. </p>
                            <p>Dış araç kılıflarımız, otomobillerinizi dış etkenlerden korumak için harika bir çözümdür. Birçok seçenek arasından seçim yaparken, aracınızın boyutlarına ve korumaya ihtiyaç duyduğu özelliklere dikkat etmek önemlidir. Ayrıca, uygun fiyatlı ve kaliteli bir dış araç kılıfı arıyorsanız, zengin çeşitliliğimizle doğru adresdesiniz. </p>

                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/araba-dolu-brandasi.jpg" data-sub-html="#caption1"><img src="/style/brand/img/araba-dolu-brandasi.jpg" style="width:675px; height:450px;" alt="araba branda" /></a>
                                                    
                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/araba-dolu-brandasi2.jpg" data-sub-html="#caption2"><img src="/style/brand/img/araba-dolu-brandasi2.jpg" style="width:675px; height:450px;" alt="araba branda modelleri" /></a>
                                                    
                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/araba-dolu-brandasi4.jpg" data-sub-html="#caption3"><img src="/style/brand/img/araba-dolu-brandasi4.jpg" style="width:450px; height:450px;" alt="araba branda modelleri" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/araba-dolu-brandasi5.jpg" data-sub-html="#caption4"><img src="/style/brand/img/araba-dolu-brandasi5.jpg" style="width:650px; height:450px;" alt="araba dolu brandası" /></a>
                                                    
                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            
                                            <!-- /.collage-image-wrapper -->
                                           
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>
                    
                    <!-- /.post-nav -->
                    
                    <!--/.row -->
                    
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                                    @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/beton-yorgani">Beton Yorganı</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/cami-kapisi">Cami Kapısı</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/ceset-torbasi">Ceset Torbası</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/fabrika-bolmeleri-kapilari">Fabrika Bölmeleri & Kapıları</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/golgelik-jut-branda">Gölgelik Jut Branda</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/havuz-brandasi">Havuz Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/kamyon-kamyonet-brandasi">Kamyon - Kamyonet Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/otopark-brandasi">Otopark Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/seffaf-branda">Şeffaf Branda</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/tekne-brandasi">Tekne Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/tekstil-torbasi">Tekstil Torbası</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                
                <!-- /.widget -->
                
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>