@page
@model brand.ist.Pages.branda.cami_kapisiModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Branda Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Cami Kapısı Brandası</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/cami-brandasi2.jpeg" style="width:720px; height:650px;" alt="İstanbul Cami Kapısı Brandası Brandası" /></figure>
                        <div class="post-content">
                            <p>Cami Kapısı Brandası brandalarımız, cami girişlerinde kullanılan ve camiye giriş yapanları güneşten, rüzgardan ve yağmurdan koruyan özel brandalardır. Bu brandalar genellikle PVC kaplı polyester malzemelerden yapılmaktadır ve UV korumalıdır. Ayrıca, su geçirmez ve dayanıklıdırlar.</p>
                            <p>Cami Kapısı Brandası brandalarımızın kaliteli olduğunu söyleyebiliriz. Çünkü, bu brandaların üretiminde yüksek kaliteli malzemeler kullanılır ve bu malzemeler uzun ömürlüdür. Ayrıca, brandaların üretiminde kullanılan teknoloji de kaliteli sonuçlar verir. Bu nedenle, Cami Kapısı Brandası brandalarımız yüksek kalitede, dayanıklı ve uzun ömürlüdür.</p>
                            <div class="space10"></div>
                            <p>Ayrıca, Cami Kapısı Brandası brandalarının uygun fiyatlı olduğunu söyleyebiliriz. Üretimde kullanılan malzemelerin kaliteli olmasına rağmen, ürünlerimizi uygun fiyatlarla siz müşterilerimize sunarız. Siz müşterilerimize kaliteli ve dayanıklı bir çözüm sunarken, aynı zamanda bütçelerini aşmadan alışveriş yapma imkanı verilir.</p>
                            <p>Sonuç olarak, Cami Kapısı Brandası brandaları hem kaliteli hem de uygun fiyatlıdır. Bu brandalar, cami girişlerinde kullanılarak camiye gelenleri yağmur, güneş ve rüzgardan korur. Yüksek kaliteli malzemelerden yapılmış olduklarından uzun ömürlüdürler ve uygun fiyatları sayesinde müşterilere kaliteli bir çözüm sunarlar. Cami Kapısı Brandası brandaları, camilerin güzel ve şık bir görünüm kazanmasına da yardımcı olurlar.</p>

                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/cami-brandasi3.jpeg" data-sub-html="#caption1"><img src="/style/brand/img/cami-brandasi3.jpeg" style="width:400px; height:450px;" alt="cami brandası fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/cami-brandasi1.jpg" data-sub-html="#caption2"><img src="/style/brand/img/cami-brandasi1.jpg" style="width:350px; height:450px;" alt="cami brandası fiyat" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/araba-dolu-brandasi">Araba Dolu Brandası</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/beton-yorgani">Beton Yorganı</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/ceset-torbasi">Ceset Torbası</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/fabrika-bolmeleri-kapilari">Fabrika Bölmeleri & Kapıları</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/golgelik-jut-branda">Gölgelik Jut Branda</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/havuz-brandasi">Havuz Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/kamyon-kamyonet-brandasi">Kamyon - Kamyonet Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/otopark-brandasi">Otopark Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/seffaf-branda">Şeffaf Branda</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/tekne-brandasi">Tekne Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/tekstil-torbasi">Tekstil Torbası</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>