@page
@model brand.ist.Pages.branda.otopark_brandasiModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Branda Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Otopark Brandası</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/otopark-brandasi.jpg" alt="Otopark Brandası" /></figure>
                        <div class="post-content">
                            <p>Otoparklar, arabalarımızı korumak için son derece önemli yerlerdir. Güneş ışınları, yağmur, dolu, kar gibi doğal olaylardan korunmak için otoparklarda kullanılan brandalar, araçlarımızı dış etkilere karşı koruyarak onların ömrünü uzatmaktadır. Biz de bu noktada kaliteli, uygun fiyatlı ve özel tasarımlara uygun otopark brandaları üretiyoruz.</p>
                            <p>Otopark brandalarımız, dayanıklı ve yüksek kaliteli malzemelerden imal edilmiştir. Her türlü hava koşuluna dayanıklıdır ve güneş ışınlarına karşı koruma sağlar. Ayrıca, özel tasarımlar yaparak müşterilerimizin ihtiyaçlarına uygun brandalar da üretebiliyoruz. Bu sayede, müşterilerimizin istediği boyutta, renkte ve özellikte otopark brandaları üretebiliyoruz.</p>
                            <div class="space10"></div>
                            <p>
                                Otopark brandalarımız, kullanımı kolay ve bakımı kolay olan ürünlerdir. Montajı kolaydır ve hızlı bir şekilde kurulum yapılabilir. Ayrıca, uzun ömürlü olmaları nedeniyle ekonomik bir çözüm sunmaktadırlar.
                            </p>
                            <p>Müşteri memnuniyetini her zaman ön planda tutuyoruz. Bu nedenle, otopark brandalarımızın her aşamasında müşterilerimizle yakın bir iletişim halinde oluyoruz. Müşterilerimizin ihtiyaçlarına ve isteklerine en iyi şekilde cevap vermek için elimizden gelenin en iyisini yapıyoruz.</p>
                            <p>Sonuç olarak, kaliteli, uygun fiyatlı ve özel tasarımlara uygun otopark brandaları arayanların aradığı çözümü bizimle bulabileceğini belirtmek isteriz. Siz de otopark brandası ihtiyaçlarınız için bizimle iletişime geçebilir, uygun fiyatlı ve kaliteli ürünlerimizle araçlarınızı koruyabilirsiniz.</p>
                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/otopark-brandasi2.jpg" data-sub-html="#caption1"><img src="/style/brand/img/otopark-brandasi2.jpg" style="width:675px; height:450px;" alt="araba brandası fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/otopark-brandasi3.jpg" data-sub-html="#caption2"><img src="/style/brand/img/otopark-brandasi3.jpg" style="width:675px; height:450px;" alt="araba otopark brandası çadırı fiyatları" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/otopark-brandasi4.jpg" data-sub-html="#caption3"><img src="/style/brand/img/otopark-brandasi4.jpg" style="width:675px; height:450px;" alt="otopark brandası" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/otopark-brandasi5.jpg" data-sub-html="#caption3"><img src="/style/brand/img/otopark-brandasi5.jpg" style="width:325px; height:450px;" alt="brandacı" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/otopark-brandasi6.jpg" data-sub-html="#caption3"><img src="/style/brand/img/otopark-brandasi6.jpg" style="width:650px; height:450px;" alt="istanbul brandacı" /></a>

                                                </div>
                                            </div>
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/otopark-brandasi7.jpg" data-sub-html="#caption3"><img src="/style/brand/img/otopark-brandasi7.jpg" style="width:350px; height:450px;" alt="türkiye ucuz kaliteli brandacı" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                            <!-- /.collage-image-wrapper -->
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/araba-dolu-brandasi">Araba Dolu Brandası</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/beton-yorgani">Beton Yorganı</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/cami-kapisi">Cami Kapısı Brandası</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/ceset-torbasi">Ceset Torbası</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/fabrika-bolmeleri-kapilari">Fabrika Bölmeleri & Kapıları</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/golgelik-jut-branda">Gölgelik Jut Branda</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/havuz-brandasi">Havuz Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/kamyon-kamyonet-brandasi">Kamyon - Kamyonet Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/seffaf-branda">Şeffaf Branda</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/tekne-brandasi">Tekne Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/tekstil-torbasi">Tekstil Torbası</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>