@page
@model brand.ist.Pages.branda.tekstil_torbasiModel
@{
}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/style/brand/img/kategori-arkası-pp.jpg">
    <div class="container inner pt-120 pb-120 text-center">
        <h1 class="heading mb-0">Branda Çeşitlerimiz</h1>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-md-8">
                <div class="blog classic-view">
                    <div class="post">
                        <h1 class="post-title text-center"><a href="blog-post.html" name="PAGE" id="page">Tekstil Torbası</a></h1>
                        <figure class="mb-25"><img src="/style/brand/img/Branda-Çuval.jpeg" style="width:325px; height:500px;" alt="tekstil torbası" /></figure>
                        <div class="post-content">
                            <p>Tekstil torbaları, son yıllarda çevre dostu olmaları ve yeniden kullanılabilir olmaları sebebiyle oldukça popüler hale geldi. İşte bu noktada, bizler de kaliteli ve uygun fiyatlı tekstil torbaları imalatı yaparak müşterilerimize hizmet veriyoruz.</p>
                            <p>Yılların verdiği tecrübe ve teknolojik altyapımız sayesinde, müşterilerimizin ihtiyaçlarına yönelik seri üretim yapabiliyoruz. Ayrıca, müşterilerimizin isteklerine ve ihtiyaçlarına göre özel tasarım ve ölçülerde de üretim yapabiliyoruz.</p>
                            <div class="space10"></div>
                            <p>
                                Tekstil torbalarımız, çevre dostu olmalarının yanı sıra, kaliteli malzemeler kullanılarak üretildiği için dayanıklı ve uzun ömürlüdür. Ayrıca, üretim aşamasında mümkün olduğunca geri dönüştürülebilir malzemeler kullanarak, doğaya ve çevreye karşı sorumluluk sahibi bir yaklaşım sergiliyoruz.
                            </p>

                            <p>Müşterilerimizin taleplerine göre farklı kumaş türleri, renkler ve baskılarla üretim yapabiliyoruz. Tekstil torbalarımız, alışveriş torbaları, okul çantaları, piknik çantaları, spor çantaları ve daha birçok amaç için kullanılabilir.</p>
                            <p>Siz de çevreye duyarlı ve yeniden kullanılabilir tekstil torbalarına ilgi duyuyorsanız, bizimle iletişime geçerek istediğiniz ölçü ve tasarımda tekstil torbaları ürettirebilirsiniz. Kaliteli, uygun fiyatlı ve çevre dostu ürünlerimizle sizlere hizmet vermeye devam ediyoruz.</p>
                            <div class="space10"></div>
                            <div class="wrapper light-wrapper">
                                <div class="container inner">
                                    <div class="collage-wrapper">
                                        <div id="collage-medium" class="collage effect-parent light-gallery">
                                            <div class="collage-image-wrapper">
                                                <div class="overlay overlay2">
                                                    <a href="/style/brand/img/Branda-Çuval.jpeg" data-sub-html="#caption1"><img src="/style/brand/img/Branda-Çuval.jpeg" style="width:675px; height:auto;" alt="kaliteli ucuz tekstil brandası fiyatları" /></a>

                                                </div>
                                            </div>
                                            <!-- /.collage-image-wrapper -->
                                            
                                           
                                        </div>
                                        <!-- /.collage -->
                                    </div>
                                    <!-- /.collage-wrapper -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.social -->
                        </div>
                        <!-- /.post-content -->
                    </div>
                    <!-- /.post -->
                    <div class="divider-icon"><i class="fa fa-pencil"></i></div>

                    <!-- /.post-nav -->
                    <!--/.row -->
                    <!-- /#comments -->
                    <h4>Teklif Alın</h4>
                    <div class="space20"></div>
                    <form method="post" enctype="multipart/form-data" class="comment-form">
                        <div class="form-group">
                            <input type="text" name="FULLNAME" id="fullname" class="form-control" placeholder="İsim*" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="EMAIL" id="email" class="form-control" placeholder="Email*" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" name="PHONE" id="phone" class="form-control" placeholder="Telefon*" required>
                        </div>
                        <div class="form-group">
                            <textarea name="MESSAGE" id="message" class="form-control" rows="5" placeholder="Mesajınız"></textarea>
                        </div>
                        @Html.AntiForgeryToken()

                        <button type="button" id="submit" class="btn btn-full-rounded">Gönder</button>
                    </form>
                    <!-- /.comment-form -->
                </div>
                <!-- /.blog -->
            </div>
            <!--/column -->
            <aside class="col-md-4 sidebar">
                <div class="sidebox widget">
                    <h3 class="widget-title">Hakkımızda</h3>
                    <figure class="mb-20"><img src="/style/brand/img/branda_logo.png" alt="" /></figure>
                    <p>Serin Branda, 2009 yılından beri hem Türkiye'de hem de yurtdışında branda, çadır ve tente imalatı yaparak müşterilerine kaliteli ve özgün ürünler sunmaktadır. İstanbul merkezli olan firmamız, yurtiçi ve yurtdışındaki müşterilerinin taleplerine göre özelleştirilmiş çözümler sunmaktadır.</p>
                    <ul class="social social-color social-s">
                        <li><a href="https://m.facebook.com/serinbrandatentecadirsistemleri"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://tr.pinterest.com/tenteist/"><i class="fa-brands fa-pinterest"></i></a></li>
                        <li><a href="https://www.instagram.com/branda.ist/"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <div class="sidebox widget">
                    <h3 class="widget-title">Kategoriler</h3>
                    <ul class="list-group simple">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/araba-dolu-brandasi">Araba Dolu Brandası</a><span class="badge badge-pill bg-default">21</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/beton-yorgani">Beton Yorganı</a><span class="badge badge-pill bg-default">16</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/cami-kapisi">Cami Kapısı Brandası</a><span class="badge badge-pill bg-default">19</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/ceset-torbasi">Ceset Torbası</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/fabrika-bolmeleri-kapilari">Fabrika Bölmeleri & Kapıları</a><span class="badge badge-pill bg-default">7</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/golgelik-jut-branda">Gölgelik Jut Branda</a><span class="badge badge-pill bg-default">12</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/havuz-brandasi">Havuz Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/kamyon-kamyonet-brandasi">Kamyon - Kamyonet Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/otopark-brandasi">Otopark Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/seffaf-branda">Şeffaf Branda</a><span class="badge badge-pill bg-default">14</span> </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="/branda/tekne-brandasi">Tekne Brandası</a><span class="badge badge-pill bg-default">14</span> </li>
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>
            <!-- /column .sidebar -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>